<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <h1>Create Jenkins User</h1>
    <form method="post">
        <label>Enter username</label>
        <br>
        <input type="text" name="username" required>
        <br>
        <label>Enter password</label>
        <br>
        <input type="password" name="password" required>
        <br>
		<label>Enter E-mail</label>
		<br>
		<input type="email" name="email" required>
        <br>
        <label>Enter full name</label>
        <br>
        <input type="text" name="fullname" required>
        <br>
        <input type="submit" value="signup">

    </form>
</body>
<body>
	<h1>Create Jenkins Job</h1>
	<form method="POST" action="/create_jenkins_job">
        <label for="job_test">Job Name:</label>
        <input type="text" id="job_test" name="job_test">
        <button type="submit">Create Job</button>
    </form>
    <br>
    <h1>Create Jenkins Pipeline Job</h1>
    <form method="POST" action="/create_jenkins_pipeline_job">
        <label for="job_test1">Job Name (pipeline):</label>
        <input type="text" id="job_test1" name="job_test1">
        <button type="submit">Create Job</button>
    </form>
    <a href="/homepage">homepage</a>
</body>
</html>